# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
*.env

# Google Cloud credentials
*.json

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Terraform sensitive files
*.tfvars
*.tfvars.json

# Docker
*.log